*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    backdrop-filter: blur(10px);
    /* border-bottom: 1px solid; */
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 10;
}

.logo-name p {
    font-size: 1.8rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.logo-name span {
    color: #9BE784;
    font-size: 2.8rem;
    font-weight: 400;
    animation: bobble 2s ease-in-out infinite;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes bobble {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }
}

.nav-tabs a {
    color: #000;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: large;

    transition: color 0.3s ease;
}
.login-signup a{
    color: #000;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: large;
    transition: color 0.3s ease;

}

.nav-tabs a.active {
    /* color: var(--primary-color); */
    color: #ffd60a;
}

.nav-tabs a:hover {
    /* color: var(--primary-color); */
    color: #ffd60a;
}

.nav-tabs a:active {
    color: #ffd60a;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; /* white background */
  overflow: hidden;
  z-index: 0; /* base layer */
}

/* scrolling grid background */
.hero::before {
  content: "";
  position: absolute; /* scrolls with the page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(#cccccc54 1px, transparent 1px),
    linear-gradient(90deg, #cccccc56 1px, transparent 1px);
  background-size: 40px 40px;
  z-index: 0; /* behind content */
  pointer-events: none; /* clicks pass through */
}


/* content above background */
